@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

$logo-red: rgb(201, 66, 66);
$logo-green: rgb(78, 130, 108);
$logo-blue: rgb(4, 104, 140);

$bp-z: 0px;
$bp-xs: 768px;
$bp-s: 992px;
$bp-m: 1200px;

// {default}
@media (min-width: $bp-xs) {}
@media (min-width: $bp-s) {}
@media (min-width: $bp-m) {}

@media (min-width: $bp-xs) {
    .container {
        width: 750px;
    }
}
@media (min-width: $bp-s) {
    .container {
        width: 970px;
    }
}
@media (min-width: $bp-m) {
    .container {
        width: 1170px;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    font-family: 'Space Grotesk', sans-serif;
    
    // {default}
    font-size: 1rem;
    @media (min-width: $bp-xs) {}
    @media (min-width: $bp-s) {
        font-size: 1.3rem;
    }
    @media (min-width: $bp-m) {}

    .container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        max-width: 100vw;
    }
    @media (min-width: 768px) {
        .container {
            width: 750px;
        }
    }
    @media (min-width: 992px) {
        .container {
            width: 970px;
        }
    }
    @media (min-width: 1200px) {
        .container {
            width: 1170px;
        }
    }

    .red-text {
        color: $logo-red;
    }

    .code {
        background-color: rgb(199, 199, 199);
        color: black;
        padding-left: 0.2em;
        padding-right: 0.2em;
        font-family: 'Courier New', Courier, monospace;
    }

    .red-text-flicker {
        -webkit-animation: redflicker 3s infinite;  /* Safari 4+ */
        -moz-animation: redflicker 3s infinite;  /* Fx 5+ */
        -o-animation: redflicker 3s infinite;  /* Opera 12+ */
        animation: redflicker 3s infinite;  /* IE 10+, Fx 29+ */
    }

    @keyframes redflicker {
        0%, 49%  { color: $logo-red; }
        50%, 51% { color: rgb(148, 0, 0);}
        52%, 55%{ color: $logo-red; }
        56%, 57% { color: rgb(148, 0, 0);}
        58%, 75%{ color: $logo-red; }
        76%, 77% { color: rgb(148, 0, 0);}
        78%, 90%{ color: $logo-red; }
        91%, 92% { color: rgb(148, 0, 0);}
        93%, 100%{ color: $logo-red; }
    }

    ul {
        list-style-type: none;
        padding: 0px;
    }

    .spacer {
        flex-grow:1;
    }

    .viewExternal{
        text-decoration: none;
        padding: 0em 0.5em;
        border: 1px solid $logo-red;
        color: $logo-red;

        .linkIcon{
            width: 1em;
            height: 1em;
            vertical-align: middle;
        }

        &:hover {
            background-color: $logo-red;
            color:white;
        }
    }

    // SPLIT 3-2
    .split-3-2{
        display: flex;
    }
    .split-3-2 > div:nth-child(1){
        padding-right:2em;
        flex: 3;
    }
    .split-3-2 > div:nth-child(2){flex: 2;}
    @media (max-width: $bp-m) {
        .split-3-2{
            display: block;
        }
        .split-1-1 > div:nth-child(1){
            padding-right:0em;
        }
    }
    
    .left-border{
        border-left: 10px solid rgb(185, 185, 185);
        padding-left: 0.7em;
    }

    // SPLIT 1-1
    .split-1-1{
        display: flex;
    }
    .split-1-1 > div:nth-child(1){
        padding-right:2em;
        flex: 1;
    }
    .split-1-1 > div:nth-child(2){flex: 1;}
    @media (max-width: $bp-m) {
        .split-1-1{
            display: block;
        }
        .split-1-1 > div:nth-child(1){
            padding-right:0em;
        }
    }

    // SPLIT 3-1
    .split-3-1{
        display: flex;
    }
    .split-3-1 > div:nth-child(1){
        padding-right:2em;
        flex: 3;
    }
    .split-3-1 > div:nth-child(2){flex: 1;}

    p {
        margin-block-end: 2em;
    }

    ul.references {
        font-size:medium;
        color:rgb(158, 158, 158);
        font-style:italic ;

        &::before {
            content: 'References: '
        } 

        li {
            display: inline;
            a {
                text-decoration: underline;
                color:rgb(158, 158, 158);
            }
        }
    }
    
    img {
        max-width: 100%;
    }

    header {
        padding: 1em 0em;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
        position: fixed;
        width: 100%;
        background-color: white;
        top:0px;
        z-index: 999;

        img {
            width:50px;
            height:45px;
        }

        div {
            display: flex;
        }

        nav {
            flex-grow: 1;
            margin-top: auto;
            margin-bottom: auto;
            display: flex;
            
            .navDesktop{
                width: 100%;
                
                // {default}
                display:none;
                @media (min-width: $bp-xs) {}
                @media (min-width: $bp-s) {}
                @media (min-width: $bp-m) {
                    display: block;
                    position: static;
                    &.expanded{
                        height:auto;
                    }
                }

                ul {
                    justify-content: center;
                    margin: 0px;
                    display: flex;
                    flex:1;
                    background-color: white;
                    box-shadow: none;
                    flex-direction: row;
                    position: static;
                    right:0px;
                    top:0%;
    
                    li {
                        display:inline;
                        padding: 0em;
                        text-align: center;
                        flex: 1;
                        &:hover{
                            background-color: white;
                        }
    
                        a {
                            color:black;
                            text-decoration-line: none;
                            width: 100%;
                            display:block;
                            padding: 0em 1em;
                            
                            &:hover {
                                color: $logo-blue;
                            }
                        }
                    }
                }
            }

            .ulHolder{
                @media (min-width: $bp-m) {
                    display:none;
                }

                width: 100%;
                transition: height 0.3s ease-in-out;
                position: absolute;
                right:0px;
                top:100%;
                height:0%;
                overflow: hidden;

                &.expanded{
                    height:100%;
                }

                ul {
                    justify-content: center;
                    margin: 0px;
                    display: flex;
                    
                    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
                    background-color: lighten($logo-red, 40%);
                    flex-direction: column;
                    position: absolute;
                    right:0em;
                    @media (min-width: $bp-xs) {
                        right:2em;
                    }
    
                    li {
                        &:hover{
                            background-color: lighten($logo-red, 20%);
                        }
    
                        a {
                            color:black;
                            text-decoration-line: none;
                            width: 10em;
                            display:block;
                            margin: 0.4em 0em;
                            text-align: center;
                        }
                    }
                }
            }

            .spacer{
                // {default}
                @media (min-width: $bp-xs) {}
                @media (min-width: $bp-s) {}
                @media (min-width: $bp-m) {
                    display:none;
                }
            }

            .navButton{
                width: 4em;
                height: 4em;
                background-color: transparent;
                border: none;

                &:hover{
                    background-color: $logo-red;
                    color:white;
                    cursor:pointer;
                }

                // {default}
                @media (min-width: $bp-xs) {}
                @media (min-width: $bp-s) {}
                @media (min-width: $bp-m) {
                    display:none;
                }
            }
        }

        .disabled {
            opacity: 30%;
            pointer-events: none;
        }
    }

    section {
        padding: 2em 0em;
    }

    section#hero{
        padding-top: 8em;

        @media (max-width: $bp-m) {
            .split-1-1{
                text-align: center;
            }
        }

        .circle {
            width: 4em;
            height: 4em;
            border-radius: 9999px;
            display: inline-block;
            margin: 0em 2em;

            @media (max-width: $bp-m) {
                width: 2em;
                height: 2em;
                margin: 2em;
            }
        }

        .bg-red {background-color: $logo-red;}
        .bg-green {background-color: $logo-green;}
        .bg-blue {background-color: $logo-blue;}

        img {

            // {default}
            margin:1em 0em;
            @media (min-width: $bp-xs) {}
            @media (min-width: $bp-s) {}
            @media (min-width: $bp-m) {
                margin:5em 0em;
            }
        }

        p{
            margin-top: 0px;
        }

        h1 {
            font-size:4em;

            @media (max-width: $bp-m) {
                font-size:3em;
                text-align: center;
            }
        }
    }

    section#overview{
        img {
            margin-top:4em;
        }
    }

    section#background {
        text-align: center;

        h2{
            margin: 0em 6em;

            @media (max-width: $bp-m) {
                margin: 0em;
            }
        }

        p.description{
            margin: 2em 9em 2em 9em;

            @media (max-width: $bp-m) {
                margin: 2em 0em;
            }
        }

        ul.references {
            margin-bottom: 7em;
        }

        .taxcases {
            display: flex;
            flex-direction: row;
            width: 100%;
            gap: 1.5em;

            @media (min-width: $bp-z) and (max-width: $bp-m){
                flex-direction: column;
            }  
        }

        .taxcase-card a{
            flex: 1;
            display:flex;
            flex-direction:column;
            width: 100%;
            height: 100%;
            border-radius: 1em;
            overflow:hidden;
            background-color: black;
            text-decoration: none;;

            @media (min-width: $bp-z) and (max-width: $bp-m){
                flex-direction:row;
                align-items: center;
            }

            .img-holder {
                width: 100%;
                // height: 100px;
                flex: 1;
                aspect-ratio: 1;

                @media (min-width: $bp-z) and (max-width: $bp-m){
                    flex-direction:row;
                    align-items: center;
                    flex: none;
                    width: 10em;
                }
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .bottom{
                background-color: black;
                color:white;
                text-align: left;
                padding: 0.5em 1em 1em 1em;
            }
        }

        .taxcase-card:nth-child(1) a {box-shadow: 5px 5px 0px $logo-red;}
        .taxcase-card:nth-child(2) a {box-shadow: 5px 5px 0px $logo-green;}
        .taxcase-card:nth-child(3) a {box-shadow: 5px 5px 0px $logo-blue;}
    }

    section#datacollection {
        .title {
            font-size: 3em;
            font-weight: bold;
            margin-top: 0em;
            margin-bottom: 0em;

            // {default}
            text-align: center;
            margin-right: 0em;
            display: inline;
            width:100%;
            @media (min-width: $bp-xs) {}
            @media (min-width: $bp-s) {
                text-align: left;
                margin-right: 1em;
                display: block;
                width:auto;
            }
            @media (min-width: $bp-m) {}
        }

        .card1 {
            // {default}
            background-color: black;
            color:white;
            border-radius: 1em;
            margin-top: 2em;
            box-shadow: 5px 5px 0px $logo-red;
            display: flex;
            align-items: start;
            padding: 0.4em 0.4em;
            flex-direction: column;
            @media (min-width: $bp-xs) {}
            @media (min-width: $bp-s) {
                padding: 2em 3em;
                flex-direction: row;
            }
            @media (min-width: $bp-m) {}

            .keywords {
                // {default}
                text-align: center;
                @media (min-width: $bp-xs) {}
                @media (min-width: $bp-s) {
                    text-align: end;
                }
                @media (min-width: $bp-m) {}

                li {
                    display: inline-block;
                }
    
                a {
                    color:white;
                    display: inline-block;
                    border: 1px solid white;
                    border-radius: 99px;
                    padding: 0.2em 0.6em;
                    margin: 0.2em 0.1em;
                    text-decoration: none;
                }
                
                a:hover {
                    background-color: white;
                    color:black;
                }
            }
        }

        .card2 {
            
            // {default}
            background-color: black;
            color:white;
            border-radius: 1em;
            margin-top: 2em;
            box-shadow: 5px 5px 0px $logo-green;
            display: flex;
            align-items: start;
            padding: 0.4em 0.4em;
            flex-direction: column;
            @media (min-width: $bp-xs) {}
            @media (min-width: $bp-s) {
                padding: 2em 3em;
                flex-direction: row;
            }
            @media (min-width: $bp-m) {}

            ul {
                // {default}
                text-align: center;
                @media (min-width: $bp-xs) {}
                @media (min-width: $bp-s) {
                    text-align: end;
                }
                @media (min-width: $bp-m) {}

                li {
                    // display: flex;
                    display: inline-block;
                    
                    a {
                        border: 1px solid white;
                        border-radius: 99px;
                        padding: 0.2em 0.6em;
                        margin: 0.2em 0.1em;

                        display: flex;
                        align-items: center;
                        text-decoration: none;
                        color:white;

                        img {
                            margin-right:0.5em;
                            height: 1em;
                        }

                        &:hover {
                            background-color: white;
                            color:black;
                        }
                    }


                }
            }

            // .title {
            //     font-size: 3em;
            //     font-weight: bold;
            //     margin-top: 0em;
            //     margin-bottom: 0em;

            //     // {default}
            //     text-align: center;
            //     margin-right: 0em;
            //     display: inline;
            //     width:100%;
            //     @media (min-width: $bp-xs) {}
            //     @media (min-width: $bp-s) {
            //         text-align: left;
            //         margin-right: 1em;
            //         display: block;
            //         width:auto;
            //     }
            //     @media (min-width: $bp-m) {}
            // }
        }
    }

    section#methods {
        ul.method-list {
            .methodItem {
                position: relative;
                border-bottom: 2px solid rgb(177, 177, 177);

                &:last-child {
                    border-bottom: none;
                }

                .tile {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 1em;
                    padding: 1em 0em 1em 0em;

                    button {
                        transform: rotateZ(0turn);
                        transition: all 0.3s ease-in-out;

                        &#pill1 {
                            background-color: $logo-red;
                            &:hover {
                                background-color: lighten($logo-red, 20%);
                            }
                        }
                        &#pill2 {
                            background-color: $logo-green;
                            &:hover {
                                background-color: lighten($logo-green, 20%);
                            }
                        }
                        &#pill3 {
                            background-color: $logo-blue;
                            &:hover {
                                background-color: lighten($logo-blue, 20%);
                            }
                        }
                        &#pill4 {
                            background-color: $logo-red;
                            &:hover {
                                background-color: lighten($logo-red, 20%);
                            }
                        }

                        &.pill.expanded {
                            transform: rotateZ(1turn);
                        }

                        &.pill:hover {
                            cursor:pointer;
                        }

                        color:white;
                        font-size: 3em;
                        padding: 0em;
                        width: 1em;
                        height: 1em;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 999em;
                        border: 0em;
                    }
                    
                    .info {
                        flex: 1;
                        display: flex;

                        // {default}
                        flex-direction: column;
                        .title {
                            flex: 1;
                            margin-left: 0em;
                            text-align: left;
                        }
                        @media (min-width: $bp-xs) {}
                        @media (min-width: $bp-s) {
                            flex-direction: row;
                            .title {
                                flex: 1;
                                margin-left: 1em;
                                text-align: left;
                            }
                        }
                        @media (min-width: $bp-m) {}

            
                        .desc {
                            flex: 2;
                            margin: 0em;
                        }
                    }
        
                }

                .hideable{
                    transition: all 0.3s ease-in-out;
                    height: 0px;
                    // width: 100%;
                    overflow: hidden;
                    position: relative;
                    // display: inline-block;
                    transform: translateY(-0.9em);
                    margin-top: 1em;

                    .hideableContent > *:first-child {
                        margin-top:0px !important; 
                    }

                    .hideableContent > *:last-child {
                        margin-bottom:0px !important; 
                    }
                    padding-left: 1em;
                    @media (min-width: $bp-xs) {}
                    @media (min-width: $bp-s) {}
                    @media (min-width: $bp-m) {
                        padding-left: 6em;
                        border-left: none;
                    }
                    
                    .hideableContent {
                        padding-left: 1em;
                        &#hideableContent1{border-left: 5px solid $logo-red;}
                        &#hideableContent2{border-left: 5px solid $logo-green;}
                        &#hideableContent3{border-left: 5px solid $logo-blue;}
                        &#hideableContent4{border-left: 5px solid $logo-red;}
                    }

                    ul {
                        li {
                            list-style-type: disc;
                            margin-left: 2em;

                            span.grey {
                                color: rgb(165, 165, 165);
                            }
                        }
                    }
                    
                    .hideableContent{
                        position: absolute;
                        // width: 100%;
                        margin: 0px;

                        table {
                            border-collapse: collapse;
                            width: 98%;
                            margin: 0px 2px 2px 2px;
                            th, td {
                                border: 1px solid;
                                padding: 0.5em;
                            }

                        }

                        .tableLabel{
                            text-align: center;
                            font-size: 0.7em;
                            opacity: 0.8;
                        }
                    }
                }
            }
        }
    }

    section#results {
        .result-cards {
            display: flex;
            flex-direction: row;
            margin-bottom:3em;
            gap:1em;

            @media (min-width: $bp-z) and (max-width: $bp-m){
                flex-direction: column;
            }    

            li {
                flex: 1;

                .card {
                    background-color: black;
                    color: white;
                    padding:2em;
                    border-radius: 1em;
                    
                    p {
                        margin-bottom:0;
                    }
                }
            }

            h3 {
                margin-top:0em;
            }

            li:nth-child(1) .card {box-shadow: 5px 5px 0px $logo-red;}
            li:nth-child(2) .card {box-shadow: 5px 5px 0px $logo-green;}
            li:nth-child(3) .card {box-shadow: 5px 5px 0px $logo-blue;}
        }
    }

    footer{
        background-color: rgb(27, 27, 27);
        color: white;
        text-align: center;
        padding: 4em 0em;

        h2 {
            font-size: 2em;
        }

        ul.memlist {
            display:flex;
            flex-direction: row;
            gap: 1em;
            width: 100%;
            margin: 4em 0em;

            @media (max-width: $bp-m) {
                flex-direction: column;
            }
        }

        ul.memlist > li {
            &:nth-child(1) {background-color: $logo-red;}
            &:nth-child(2) {background-color: $logo-green;}
            &:nth-child(3) {background-color: $logo-blue;}

            border-radius: 1em;
            flex: 1;
            overflow: hidden;
            text-align: left;

            .img-holder {
                width: 100%;
                // height: 100px;
                aspect-ratio: 1;

                @media (min-width: $bp-z) and (max-width: $bp-m){
                    width: 25%;
                    float: left;
                    margin: 2em 1em 1em 2em;
                }
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .meminfo {
                padding: 2em;

                h4 {
                    margin-top: 0em;
                }
            }

            ul.contacts{
                li {
                    margin-bottom:0.2em;
                    color:white;
                    text-decoration-line: underline;
                    &:hover {
                        color:yellow;
                    }

                    a {
                        color:white;
                        margin-left:0.4em;

                        &:hover {
                            color:yellow;
                        }
                    }
                }
            }
        }

        .groupemail {
            display:inline-block;
            background-color: black;
            padding:0.6em 5em;
            border-radius: 999em;
        }
    }
}