@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1rem;
}
@media (min-width: 992px) {
  body {
    font-size: 1.3rem;
  }
}
body .container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 100vw;
}
@media (min-width: 768px) {
  body .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  body .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  body .container {
    width: 1170px;
  }
}
body .red-text {
  color: rgb(201, 66, 66);
}
body .code {
  background-color: rgb(199, 199, 199);
  color: black;
  padding-left: 0.2em;
  padding-right: 0.2em;
  font-family: "Courier New", Courier, monospace;
}
body .red-text-flicker { /* Safari 4+ */ /* Fx 5+ */ /* Opera 12+ */
  animation: redflicker 3s infinite; /* IE 10+, Fx 29+ */
}
@keyframes redflicker {
  0%, 49% {
    color: rgb(201, 66, 66);
  }
  50%, 51% {
    color: rgb(148, 0, 0);
  }
  52%, 55% {
    color: rgb(201, 66, 66);
  }
  56%, 57% {
    color: rgb(148, 0, 0);
  }
  58%, 75% {
    color: rgb(201, 66, 66);
  }
  76%, 77% {
    color: rgb(148, 0, 0);
  }
  78%, 90% {
    color: rgb(201, 66, 66);
  }
  91%, 92% {
    color: rgb(148, 0, 0);
  }
  93%, 100% {
    color: rgb(201, 66, 66);
  }
}
body ul {
  list-style-type: none;
  padding: 0px;
}
body .spacer {
  flex-grow: 1;
}
body .viewExternal {
  text-decoration: none;
  padding: 0em 0.5em;
  border: 1px solid rgb(201, 66, 66);
  color: rgb(201, 66, 66);
}
body .viewExternal .linkIcon {
  width: 1em;
  height: 1em;
  vertical-align: middle;
}
body .viewExternal:hover {
  background-color: rgb(201, 66, 66);
  color: white;
}
body .split-3-2 {
  display: flex;
}
body .split-3-2 > div:nth-child(1) {
  padding-right: 2em;
  flex: 3;
}
body .split-3-2 > div:nth-child(2) {
  flex: 2;
}
@media (max-width: 1200px) {
  body .split-3-2 {
    display: block;
  }
  body .split-1-1 > div:nth-child(1) {
    padding-right: 0em;
  }
}
body .left-border {
  border-left: 10px solid rgb(185, 185, 185);
  padding-left: 0.7em;
}
body .split-1-1 {
  display: flex;
}
body .split-1-1 > div:nth-child(1) {
  padding-right: 2em;
  flex: 1;
}
body .split-1-1 > div:nth-child(2) {
  flex: 1;
}
@media (max-width: 1200px) {
  body .split-1-1 {
    display: block;
  }
  body .split-1-1 > div:nth-child(1) {
    padding-right: 0em;
  }
}
body .split-3-1 {
  display: flex;
}
body .split-3-1 > div:nth-child(1) {
  padding-right: 2em;
  flex: 3;
}
body .split-3-1 > div:nth-child(2) {
  flex: 1;
}
body p {
  -webkit-margin-after: 2em;
          margin-block-end: 2em;
}
body ul.references {
  font-size: medium;
  color: rgb(158, 158, 158);
  font-style: italic;
}
body ul.references::before {
  content: "References: ";
}
body ul.references li {
  display: inline;
}
body ul.references li a {
  text-decoration: underline;
  color: rgb(158, 158, 158);
}
body img {
  max-width: 100%;
}
body header {
  padding: 1em 0em;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  position: fixed;
  width: 100%;
  background-color: white;
  top: 0px;
  z-index: 999;
}
body header img {
  width: 50px;
  height: 45px;
}
body header div {
  display: flex;
}
body header nav {
  flex-grow: 1;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
}
body header nav .navDesktop {
  width: 100%;
  display: none;
}
@media (min-width: 1200px) {
  body header nav .navDesktop {
    display: block;
    position: static;
  }
  body header nav .navDesktop.expanded {
    height: auto;
  }
}
body header nav .navDesktop ul {
  justify-content: center;
  margin: 0px;
  display: flex;
  flex: 1;
  background-color: white;
  box-shadow: none;
  flex-direction: row;
  position: static;
  right: 0px;
  top: 0%;
}
body header nav .navDesktop ul li {
  display: inline;
  padding: 0em;
  text-align: center;
  flex: 1;
}
body header nav .navDesktop ul li:hover {
  background-color: white;
}
body header nav .navDesktop ul li a {
  color: black;
  text-decoration-line: none;
  width: 100%;
  display: block;
  padding: 0em 1em;
}
body header nav .navDesktop ul li a:hover {
  color: rgb(4, 104, 140);
}
body header nav .ulHolder {
  width: 100%;
  transition: height 0.3s ease-in-out;
  position: absolute;
  right: 0px;
  top: 100%;
  height: 0%;
  overflow: hidden;
}
@media (min-width: 1200px) {
  body header nav .ulHolder {
    display: none;
  }
}
body header nav .ulHolder.expanded {
  height: 100%;
}
body header nav .ulHolder ul {
  justify-content: center;
  margin: 0px;
  display: flex;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
  background-color: #f6e1e1;
  flex-direction: column;
  position: absolute;
  right: 0em;
}
@media (min-width: 768px) {
  body header nav .ulHolder ul {
    right: 2em;
  }
}
body header nav .ulHolder ul li:hover {
  background-color: #e09191;
}
body header nav .ulHolder ul li a {
  color: black;
  text-decoration-line: none;
  width: 10em;
  display: block;
  margin: 0.4em 0em;
  text-align: center;
}
@media (min-width: 1200px) {
  body header nav .spacer {
    display: none;
  }
}
body header nav .navButton {
  width: 4em;
  height: 4em;
  background-color: transparent;
  border: none;
}
body header nav .navButton:hover {
  background-color: rgb(201, 66, 66);
  color: white;
  cursor: pointer;
}
@media (min-width: 1200px) {
  body header nav .navButton {
    display: none;
  }
}
body header .disabled {
  opacity: 30%;
  pointer-events: none;
}
body section {
  padding: 2em 0em;
}
body section#hero {
  padding-top: 8em;
}
@media (max-width: 1200px) {
  body section#hero .split-1-1 {
    text-align: center;
  }
}
body section#hero .circle {
  width: 4em;
  height: 4em;
  border-radius: 9999px;
  display: inline-block;
  margin: 0em 2em;
}
@media (max-width: 1200px) {
  body section#hero .circle {
    width: 2em;
    height: 2em;
    margin: 2em;
  }
}
body section#hero .bg-red {
  background-color: rgb(201, 66, 66);
}
body section#hero .bg-green {
  background-color: rgb(78, 130, 108);
}
body section#hero .bg-blue {
  background-color: rgb(4, 104, 140);
}
body section#hero img {
  margin: 1em 0em;
}
@media (min-width: 1200px) {
  body section#hero img {
    margin: 5em 0em;
  }
}
body section#hero p {
  margin-top: 0px;
}
body section#hero h1 {
  font-size: 4em;
}
@media (max-width: 1200px) {
  body section#hero h1 {
    font-size: 3em;
    text-align: center;
  }
}
body section#overview img {
  margin-top: 4em;
}
body section#background {
  text-align: center;
}
body section#background h2 {
  margin: 0em 6em;
}
@media (max-width: 1200px) {
  body section#background h2 {
    margin: 0em;
  }
}
body section#background p.description {
  margin: 2em 9em 2em 9em;
}
@media (max-width: 1200px) {
  body section#background p.description {
    margin: 2em 0em;
  }
}
body section#background ul.references {
  margin-bottom: 7em;
}
body section#background .taxcases {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1.5em;
}
@media (min-width: 0px) and (max-width: 1200px) {
  body section#background .taxcases {
    flex-direction: column;
  }
}
body section#background .taxcase-card a {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 1em;
  overflow: hidden;
  background-color: black;
  text-decoration: none;
}
@media (min-width: 0px) and (max-width: 1200px) {
  body section#background .taxcase-card a {
    flex-direction: row;
    align-items: center;
  }
}
body section#background .taxcase-card a .img-holder {
  width: 100%;
  flex: 1;
  aspect-ratio: 1;
}
@media (min-width: 0px) and (max-width: 1200px) {
  body section#background .taxcase-card a .img-holder {
    flex-direction: row;
    align-items: center;
    flex: none;
    width: 10em;
  }
}
body section#background .taxcase-card a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body section#background .taxcase-card a .bottom {
  background-color: black;
  color: white;
  text-align: left;
  padding: 0.5em 1em 1em 1em;
}
body section#background .taxcase-card:nth-child(1) a {
  box-shadow: 5px 5px 0px rgb(201, 66, 66);
}
body section#background .taxcase-card:nth-child(2) a {
  box-shadow: 5px 5px 0px rgb(78, 130, 108);
}
body section#background .taxcase-card:nth-child(3) a {
  box-shadow: 5px 5px 0px rgb(4, 104, 140);
}
body section#datacollection .title {
  font-size: 3em;
  font-weight: bold;
  margin-top: 0em;
  margin-bottom: 0em;
  text-align: center;
  margin-right: 0em;
  display: inline;
  width: 100%;
}
@media (min-width: 992px) {
  body section#datacollection .title {
    text-align: left;
    margin-right: 1em;
    display: block;
    width: auto;
  }
}
body section#datacollection .card1 {
  background-color: black;
  color: white;
  border-radius: 1em;
  margin-top: 2em;
  box-shadow: 5px 5px 0px rgb(201, 66, 66);
  display: flex;
  align-items: start;
  padding: 0.4em 0.4em;
  flex-direction: column;
}
@media (min-width: 992px) {
  body section#datacollection .card1 {
    padding: 2em 3em;
    flex-direction: row;
  }
}
body section#datacollection .card1 .keywords {
  text-align: center;
}
@media (min-width: 992px) {
  body section#datacollection .card1 .keywords {
    text-align: end;
  }
}
body section#datacollection .card1 .keywords li {
  display: inline-block;
}
body section#datacollection .card1 .keywords a {
  color: white;
  display: inline-block;
  border: 1px solid white;
  border-radius: 99px;
  padding: 0.2em 0.6em;
  margin: 0.2em 0.1em;
  text-decoration: none;
}
body section#datacollection .card1 .keywords a:hover {
  background-color: white;
  color: black;
}
body section#datacollection .card2 {
  background-color: black;
  color: white;
  border-radius: 1em;
  margin-top: 2em;
  box-shadow: 5px 5px 0px rgb(78, 130, 108);
  display: flex;
  align-items: start;
  padding: 0.4em 0.4em;
  flex-direction: column;
}
@media (min-width: 992px) {
  body section#datacollection .card2 {
    padding: 2em 3em;
    flex-direction: row;
  }
}
body section#datacollection .card2 ul {
  text-align: center;
}
@media (min-width: 992px) {
  body section#datacollection .card2 ul {
    text-align: end;
  }
}
body section#datacollection .card2 ul li {
  display: inline-block;
}
body section#datacollection .card2 ul li a {
  border: 1px solid white;
  border-radius: 99px;
  padding: 0.2em 0.6em;
  margin: 0.2em 0.1em;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}
body section#datacollection .card2 ul li a img {
  margin-right: 0.5em;
  height: 1em;
}
body section#datacollection .card2 ul li a:hover {
  background-color: white;
  color: black;
}
body section#methods ul.method-list .methodItem {
  position: relative;
  border-bottom: 2px solid rgb(177, 177, 177);
}
body section#methods ul.method-list .methodItem:last-child {
  border-bottom: none;
}
body section#methods ul.method-list .methodItem .tile {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  padding: 1em 0em 1em 0em;
}
body section#methods ul.method-list .methodItem .tile button {
  transform: rotateZ(0turn);
  transition: all 0.3s ease-in-out;
  color: white;
  font-size: 3em;
  padding: 0em;
  width: 1em;
  height: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999em;
  border: 0em;
}
body section#methods ul.method-list .methodItem .tile button#pill1 {
  background-color: rgb(201, 66, 66);
}
body section#methods ul.method-list .methodItem .tile button#pill1:hover {
  background-color: #e09191;
}
body section#methods ul.method-list .methodItem .tile button#pill2 {
  background-color: rgb(78, 130, 108);
}
body section#methods ul.method-list .methodItem .tile button#pill2:hover {
  background-color: #82b49f;
}
body section#methods ul.method-list .methodItem .tile button#pill3 {
  background-color: rgb(4, 104, 140);
}
body section#methods ul.method-list .methodItem .tile button#pill3:hover {
  background-color: #07b2ef;
}
body section#methods ul.method-list .methodItem .tile button#pill4 {
  background-color: rgb(201, 66, 66);
}
body section#methods ul.method-list .methodItem .tile button#pill4:hover {
  background-color: #e09191;
}
body section#methods ul.method-list .methodItem .tile button.pill.expanded {
  transform: rotateZ(1turn);
}
body section#methods ul.method-list .methodItem .tile button.pill:hover {
  cursor: pointer;
}
body section#methods ul.method-list .methodItem .tile .info {
  flex: 1;
  display: flex;
  flex-direction: column;
}
body section#methods ul.method-list .methodItem .tile .info .title {
  flex: 1;
  margin-left: 0em;
  text-align: left;
}
@media (min-width: 992px) {
  body section#methods ul.method-list .methodItem .tile .info {
    flex-direction: row;
  }
  body section#methods ul.method-list .methodItem .tile .info .title {
    flex: 1;
    margin-left: 1em;
    text-align: left;
  }
}
body section#methods ul.method-list .methodItem .tile .info .desc {
  flex: 2;
  margin: 0em;
}
body section#methods ul.method-list .methodItem .hideable {
  transition: all 0.3s ease-in-out;
  height: 0px;
  overflow: hidden;
  position: relative;
  transform: translateY(-0.9em);
  margin-top: 1em;
  padding-left: 1em;
  
}
body section#methods ul.method-list .methodItem .hideable .hideableContent > *:first-child {
  margin-top: 0px !important;
}
body section#methods ul.method-list .methodItem .hideable .hideableContent > *:last-child {
  margin-bottom: 0px !important;
}
@media (min-width: 1200px) {
  body section#methods ul.method-list .methodItem .hideable {
    padding-left: 6em;
    border-left: none;
  }
}
body section#methods ul.method-list .methodItem .hideable .hideableContent {
  padding-left: 1em;
}
body section#methods ul.method-list .methodItem .hideable .hideableContent#hideableContent1 {
  border-left: 5px solid rgb(201, 66, 66);
}
body section#methods ul.method-list .methodItem .hideable .hideableContent#hideableContent2 {
  border-left: 5px solid rgb(78, 130, 108);
}
body section#methods ul.method-list .methodItem .hideable .hideableContent#hideableContent3 {
  border-left: 5px solid rgb(4, 104, 140);
}
body section#methods ul.method-list .methodItem .hideable .hideableContent#hideableContent4 {
  border-left: 5px solid rgb(201, 66, 66);
}
body section#methods ul.method-list .methodItem .hideable ul li {
  list-style-type: disc;
  margin-left: 2em;
}
body section#methods ul.method-list .methodItem .hideable ul li span.grey {
  color: rgb(165, 165, 165);
}
body section#methods ul.method-list .methodItem .hideable .hideableContent {
  position: absolute;
  margin: 0px;
}
body section#methods ul.method-list .methodItem .hideable .hideableContent table {
  border-collapse: collapse;
  width: 98%;
  margin: 0px 2px 2px 2px;
}
body section#methods ul.method-list .methodItem .hideable .hideableContent table th, body section#methods ul.method-list .methodItem .hideable .hideableContent table td {
  border: 1px solid;
  padding: 0.5em;
}
body section#methods ul.method-list .methodItem .hideable .hideableContent .tableLabel {
  text-align: center;
  font-size: 0.7em;
  opacity: 0.8;
}
body section#results .result-cards {
  display: flex;
  flex-direction: row;
  margin-bottom: 3em;
  gap: 1em;
}
@media (min-width: 0px) and (max-width: 1200px) {
  body section#results .result-cards {
    flex-direction: column;
  }
}
body section#results .result-cards li {
  flex: 1;
}
body section#results .result-cards li .card {
  background-color: black;
  color: white;
  padding: 2em;
  border-radius: 1em;
}
body section#results .result-cards li .card p {
  margin-bottom: 0;
}
body section#results .result-cards h3 {
  margin-top: 0em;
}
body section#results .result-cards li:nth-child(1) .card {
  box-shadow: 5px 5px 0px rgb(201, 66, 66);
}
body section#results .result-cards li:nth-child(2) .card {
  box-shadow: 5px 5px 0px rgb(78, 130, 108);
}
body section#results .result-cards li:nth-child(3) .card {
  box-shadow: 5px 5px 0px rgb(4, 104, 140);
}
body footer {
  background-color: rgb(27, 27, 27);
  color: white;
  text-align: center;
  padding: 4em 0em;
}
body footer h2 {
  font-size: 2em;
}
body footer ul.memlist {
  display: flex;
  flex-direction: row;
  gap: 1em;
  width: 100%;
  margin: 4em 0em;
}
@media (max-width: 1200px) {
  body footer ul.memlist {
    flex-direction: column;
  }
}
body footer ul.memlist > li {
  border-radius: 1em;
  flex: 1;
  overflow: hidden;
  text-align: left;
}
body footer ul.memlist > li:nth-child(1) {
  background-color: rgb(201, 66, 66);
}
body footer ul.memlist > li:nth-child(2) {
  background-color: rgb(78, 130, 108);
}
body footer ul.memlist > li:nth-child(3) {
  background-color: rgb(4, 104, 140);
}
body footer ul.memlist > li .img-holder {
  width: 100%;
  aspect-ratio: 1;
}
@media (min-width: 0px) and (max-width: 1200px) {
  body footer ul.memlist > li .img-holder {
    width: 25%;
    float: left;
    margin: 2em 1em 1em 2em;
  }
}
body footer ul.memlist > li img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body footer ul.memlist > li .meminfo {
  padding: 2em;
}
body footer ul.memlist > li .meminfo h4 {
  margin-top: 0em;
}
body footer ul.memlist > li ul.contacts li {
  margin-bottom: 0.2em;
  color: white;
  text-decoration-line: underline;
}
body footer ul.memlist > li ul.contacts li:hover {
  color: yellow;
}
body footer ul.memlist > li ul.contacts li a {
  color: white;
  margin-left: 0.4em;
}
body footer ul.memlist > li ul.contacts li a:hover {
  color: yellow;
}
body footer .groupemail {
  display: inline-block;
  background-color: black;
  padding: 0.6em 5em;
  border-radius: 999em;
}/*# sourceMappingURL=styles.css.map */